<form class="form-horizontal" action="/sign-up" method="POST">
  <h2 class="title">Sign Up</h2>

  <div class="field">
    <label for="email" class="label">Email Address</label>
    <div class="control">
      <input class="input" type="text" name="email" placeholder="me@example.com">
    </div>
  </div>

  <div class="field">
    <label for="password" class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button id="button-sign-up" name="button-sign-up" class="button is-primary">Sign Up</button>
    </div>
  </div>
</form>
