<h2 class="title">Please Sign In</h2>

<form class="form-horizontal" action="/sign-in" method="POST">
  {{#if invalidLogin}}
    <div class="notification is-danger is-light">
      <span class="icon has-text-danger">
        <i class="fas fa-ban"></i>
      </span>
      Invalid email or password.
    </div>
  {{/if}}

  <div class="field">
    <label for="email" class="label">Email Address</label>
    <div class="control">
      <input class="input" type="text" name="email" placeholder="me@example.com">
    </div>
  </div>

  <div class="field">
    <label for="password" class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button id="button-sign-in" name="button-sign-in" class="button is-primary">Sign In</button>
    </div>
  </div>
  <p>Don't have an account? <a href="/sign-up">Sign up here.</a></p>
</form>
